.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 110px;
  z-index: 1000;
}
.services {
  background-color: #333333;
  position: fixed;
  height: 100%;
  width: 0;
  right: 0px;
  left: auto;
  top: 0px;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  z-index: 20000;
  overflow-x: hidden;
}
.btn-flotante {
  width: 34px;
  height: 126px;
  top: 190px;
  right: 0px;
  left: auto;
	background-color: #94b43b;
  border: none;
	position: fixed;
	transition: all 0.25s ease-out;
  overflow-x: hidden;
	z-index: 20001;
}
.btn-flotante:hover {
	background-color: #667c29;
}
input[type="checkbox"].input {
  background-image: url(src/assets/images/header/Servicios-left.png);
  appearance: none;
  display: block;
  width: 34px;
  height: 126px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
}
input[type="checkbox"].input:checked {
  background-image: url(src/assets/images/header/Servicios-right.png);
}
.btn-menu-services {
  font-family: ancizar_sansregular, Tahoma, Geneva, sans-serif!important;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.125;
  color: #fff!important;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  min-width: 54px;
  border-top: none;
  border-bottom: 1px solid #222222;
  padding: 0px;
  vertical-align: baseline;
}
.btn-menu-services:hover {
  background-color: #b0b0b0;
  font-family: ancizar_sansregular, Tahoma, Geneva, sans-serif!important;
  font-weight: bold;
  font-size: 0.8rem;
  color: #100f0f!important;
  transition: 0s;
}

.color-a {
  color: #fff;
}
.color-a:hover {
  color: #222222;
  font-weight: bold;
  background-color: #b0b0b0;
}
.item-services {
  margin-left: 5px;
  margin-right: 12px;
  color: #fff;
}
.navbar-one {
  height: 30px;
  background-color: #666666;
  font-family: ancizar_sansregular, Tahoma, Geneva, sans-serif!important;
  font-weight: normal;
  font-size: 0.8rem;
  color: #fff;
  position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.nav-item {
  border-right: 1px solid #3d3d3d;
  font-size: 14px;
  height: 30px;
}

.link-navbar-one{
  color: #fff;
}
.btn-navbar-one-1:hover {
  background: #ffdd00;
  border-right: 1px solid #998400 !important;
}
.btn-navbar-one-2:hover {
  background: #ffb600;
  border-right: 1px solid #996d00 !important;
}
.btn-navbar-one-3:hover {
  background: #51b8be;
  border-right: 1px solid #306e71 !important;
}
.btn-navbar-one-4:hover {
  background: #008c95;
  border-right: 1px solid #005459 !important;
}
.btn-navbar-one-5:hover {
  background: #ff3d30;
  border-right: 1px solid #99241d !important;
}
.navbar-one-social {
  margin-top: 2px;
  padding: 5px;
  vertical-align: middle;
}
.change-fli img:last-child {
  display: none;
}
.change-fli:hover img:last-child {
  display: block;
}
.change-fli:hover img:first-child {
  display: none;
}
.dropdown-toggle::after {
  content: none;
}
.btn-menu {
  font-family: ancizar_sansregular, Tahoma, Geneva, sans-serif!important;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  padding-left: 2px;
  margin-left: 5px;
  line-height: 1.0;
  text-transform: uppercase;
  border: none;
}
.btn-menu:focus {
  outline: none;
  box-shadow: none;
}
.menu-arrowDown{
  color: #94b43b;
}
.menu {
  box-sizing: content-box;
  color: #fff;
  background-color: #333333;
  top: 30px;
  right: 0px;
}
.dropdown-item {
  color: #fff;
  white-space: normal !important;
}
.dropdown-item:hover {
  color: #fff;
  background-color: #666666;
}
.container-logo {
  position: relative;
  display: flex;
  top: 0px;
  width: 260px;
  margin-left: -10px;
  z-index: 1;
  transition: all .5s;
  transform: scale(1);
}
.background-image {
  display: block;
  height: auto;
  width: 260px;
  height: 140px;
}
.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  margin: 30px;
  transition: all .5s;
  transform: scale(1);
}
.seal {
  position: absolute;
  display: flex;
  top: 0px;
  right: 8px;
  vertical-align: middle;
  transition: all .5s;
  transform: scale(1);
}
.seal img {
  height: 66px;
  width: auto;
  top: 5px;
  position: relative;
}
.visible-print {
  width: 100%;
  display: block;
  position: relative;
  top: -125px;
}
.navbar-two {
  height: 80px;
  /* background-image: url(../../assets/images/header/navigationBack.png); */
  background-color: rgba(38, 38, 38, 0.8);
  font-family: ancizar_sansregular, Tahoma, Geneva, sans-serif!important;
  font-weight: normal;
  font-size: 0.8rem;
  transition: all .5s;
  transform: scale(1);
  position: relative;
  top: 15px;

}
.site-url {
  /* background: no-repeat 0 0 url(../../assets/images/header/locDot.png); */
  display: block;
  clear: both;
  content: "";
  font-size: 1.52em;
  height: 20px;
  line-height: 1.2;
  margin: 0px 10px 10px 0px;
  padding: 0 0 0 2px;
}
.site-url a {
  color: white;
}
.ppal-navbar {
  float: none;
  width: 98%;
  margin-left: 0px;
  transition: all .5s;
  transform: scale(1);
}
#title-mobile {
  display: none;
}
#buscador-mobile {
  display: none;
}
.gsc-control-searchbox-only .gsc-control-searchbox-only-es {
  padding: 0px;
  margin: 0px;
}
.gsc-search-box {
  background-color: transparent;
  margin-bottom: 0 !important;
  padding: 1% 15% 0% 30%;
  vertical-align: middle !important;
  height: 100%;
}
.gsc-search-button {
  background-color: #94b43b !important;
  border: 0px transparent !important;
  cursor: pointer;
  padding: 0;
  margin-left: 0 !important;  
  float: left;
  width: 30%;
  height: 100%;
}
.gsc-input {
  width: 70%;
  background-color: #777777 !important;
  color: white !important;
  border-radius: 5px;
  padding: 2px;
  margin: 0px;
  font-size: 18px;
}
.gsc-input-box  {
  background-color: #777777 !important;
  border: 0px transparent !important;
  color: white !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.gsib_a {
  padding: 0px;
  margin: 0px;
}

@media (min-width: 1086px) and (max-width: 1229px) {
  .navbar-two {
    font-size: 0.4rem;
  }
  .ppal-navbar {
    float: left;
    margin-left: -65px;
    transform: scale(0.85);
  }
}
@media (min-width: 993px) and (max-width: 1085px) {
  .navbar-two {
    font-size: 0.3rem;
  }
  .ppal-navbar {
    float: left;
    margin-left: -80px;
    transform: scale(0.8);
  }
  .menu {
    top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar-one {
    height: 28px;
    font-size: 0.7rem;
  }
  .container-logo {
    top: 0px;
    margin-left: -35px;
    transform: scale(0.75, 1);
  }
  .overlay-image {
    top: 0;
    left: 0;
    transform: scale(1, 0.95);
  }
  .ppal-navbar {
    float: left;
    margin-left: -180px;
    transform: scale(0.65);
  }
  .menu {
    top: 50px;
  }
  .seal img {
    height: 50px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .services {
    display: none;
  }
  input[type="checkbox"].input {
    display: none;
  }
  .navbar-one {
    display: none;
  }
  .background-image {
    display: none;
  }
  .overlay-image {
    top: -40px;
    left: -40px;
    margin: 0px;
    transform: scale(0.5);
  }
  .site-url {
    display: none;
  }
  .seal {
    transform: scale(0.5, 0.5);
    margin-right: 50px;
    top: -15px;
  }
  .navbar-two {
    height: 40px;
    background-image: none;
    background-color: #666666;
    border: 0px;
  }
  .navbar-toggler {
    padding-left: 95vw;
    border: none;
    color: white;
    padding-top: 0px;
    margin-top: -10px;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .ppal-navbar-mobile {
    width: 100vw;
    background-color: rgba(51, 51, 51, 0.97);
    border: 0px;
    color: white;
    margin-top: 5px;
    margin-left: 0px;
    left: 0px;
  }
  .btn-menu {
    font-size: 14px;
    height: 25px;
    padding: 0px 0px 0px 5vw;
    text-align: left;
    border: none;
    background-color: transparent;
  }
  .menu {
    width: 80vw;
    font-size: 12px;
    background-color: transparent;
    padding: 0px 0px 0px 0px;
    border: 0px;
    margin-top: 25px;
  }
  .dropdown-item {
    line-height: 1.0;
  }
  #gsc-i-id {
    display: none;
  }
  #title-mobile {
    display: block;
    font-size: smaller;
  }
  #buscador-mobile {
    display: block;
    position: relative;
		top: 0px;
		left: 10%;
		clear: both;
		width: 80%;
  }
  .dropdown-item:hover {
    color: #fff;
    background: #666666;
  }
  
}
@media (max-width: 540px) {
  .navbar-toggler {
    padding-left: 80vw;
  }
  .seal {
    margin-right: 90px;
  }
}