/* Centrar el contenido */
.containers {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente el contenedor principal */
    justify-content: center; /* Centra verticalmente */
    padding: 20px;
}
/* 
.containers h1 {
    color:#94B43B;

} */

/* Título */
.title {
    margin-bottom: 20px; /* Espacio entre el título y el contenido */
    color: var(--primary-color);
    font-size: 32px;
}

/* Información del perfil */
.profile-info {
    display: flex;
    flex-direction: column;
    line-height: 1.5; /* Espacio entre las líneas */
    width: 300px; /* Ancho opcional para un mejor control visual */
}

/* Filas para las etiquetas y valores */
.profile-row {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Añade espacio entre la etiqueta y el valor */
    margin-bottom: 10px; /* Espacio entre filas */
}

/* Etiquetas alineadas a la izquierda */
.profile-info .label {
    flex-basis: 100px; /* Controla el ancho de la columna de etiquetas */
    text-align: left;
    font-weight: bold;
    /* color: #94B43B; */ /* Color para las etiquetas */
    font-size: 1.2rem; /* Agranda el tamaño de la fuente de los valores */
    color: var(--primary-color);
}

/* Valores alineados a la derecha */
.profile-info .value {
    flex-grow: 1;
    text-align: left; /* Alinea los valores a la derecha */
    font-size: 1.2rem; /* Agranda el tamaño de la fuente de los valores */
}

.change-password-form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 85%;
  }
  h2{
    color:#94B43B;
    text-align: center;
  }
  .form-groupP {
    margin-bottom: 15px;
  }
    
  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .password-strength {
    margin-top: 5px;
    font-weight: bold;
  }
  
  .password-strength.débil {
    color: red;
  }
  
  .password-strength.media {
    color: orange;
  }
  
  .password-strength.fuerte {
    color: green;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #94B43B;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  

.avatar {
    width: 100px;  /* Ajusta el ancho de la imagen */
    height: 100px; /* Ajusta la altura de la imagen */
    border-radius: 50%; /* Esto hará que la imagen sea redonda */
}


