.homeDiv{
    justify-content: center;
    align-content: baseline;
    margin-top: 50px;
    padding: 32px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.formCrear{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    width: 50%;
}
.formInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}
label{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 20px;
    flex: 1;
    text-align: left;
    margin-right: 10px;
}
input, textarea, select {
    flex: 2;
    padding: 10px;
    font-size: 16px;
}
.row{ 
    margin: 0;
}
.attached{
    width: fit-content;
    background-color: var( --button-secondary-color);
    color: var(--primary-color);
}
#crearBtn{
    margin-top: 28px;
    font-size: 20px;
    justify-self: center;
}
.userProcess{
    display: grid;
    justify-content: center;
    height: 100%;
    gap: 4rem;
    align-content: center;
    justify-items: center;
    align-self: center;
}
.userProcess h1{
    font-size: 40px;
}
#success{
    color: var(--button-color);
}
#error{
    color: var(--error);
}
.userProcess svg{
    width: 180px;
    height: 180px;
}
.successIcon{
    color: var(--button-color);
}
.errorIcon{
    color: var(--error);
}
.userProcess a{
    text-decoration: none;
    color: var(--button-color);
    font-size: 24px;
}
.logoUnal{
    width: 110px;
    height: 68px;
    background-color: var(--button-color);
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    position: absolute;
    bottom: 12px;
    right: 12px;
}
.logoUnal img{
    width: 90px;
}
.buttonE {
    width: 100%;
    height: 45px;
    font-weight: bold;
    font-size: large;
    background-color: #677D29 !important;
    color: white;
}
.buttonE:hover {
    background-color: #94b43b !important;
    color: white;
}
.buttonSE {
    width: 100%;
    height: 45px;
    font-weight: bold;
    font-size: large;
    border: 1px solid #687D2A;
    background-color: white!important;
    color: #677D29 !important;
}
.buttonSE:hover {
    background-color: #94b43b !important;
    color: white !important;;
}
.buttonsEvents {
    margin-top: 10%;
}