form{
    display: block !important;
}

/* Agrega esto a tu archivo CSS o dentro de una etiqueta <style> */
.header {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (opcional) */
    margin-bottom: 6%;     /* Espacio debajo del encabezado, opcional */
    top: 5%;
}

.header h1 {
    margin: 0; /* Elimina el margen predeterminado del h1 */
    font-weight: bold;
    font-size: 36px;
}

.form-alin{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; 

}
.FormContainer{
    display: grid;
    justify-items: center;
  min-height: 80vh;
}
.formCreate{
    width: 80%;
}
.ButtonContainer {
    text-align: center; 
    width: 100%;
    margin-top: auto; 
   
  }
.text-center{
    padding-top: 30px;
}

.text-center button{
    width: 100%;
    height: 45px;
    font-weight: bold;
    font-size: large;

}
.text-center button:active{ 
    background-color: #94b43b !important;
    color: white;
}
.secondaryBtn{
    background-color: #f8f9fa;
    color: var(--btn-color);
    border: 1px solid #94b43b;
}

.custom-readonly {
    background-color: #e9ecef !important; /* Un gris claro */
    color: #6c757d; /* Texto gris oscuro */
  }

  .narrow-table {
    width: 50%;
    margin: auto;
  }
  
  .left-align {
    text-align: left;
    padding: 8px;
  }
  
  .paginationNav {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
    margin-top: 20px; /* Opcional: agrega espacio entre la tabla y la paginación */
  }

  .mx-auto {
    margin-right: unset !important;
    margin-left: auto !important;
}


.pb-4 {
    padding-bottom: 2rem !important;
}

  
  