.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  
}
.headerEvents h1 {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: bold;
}
.eventCard {
  width: 280px;
  height: 280px;
  margin: 10px;
  border-radius: 8px;
  position: relative;
  display: grid;
  background-color: var(--button-secondary-color);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23687D2AFF' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 12px;
  padding: 16px;
  justify-content: center;
  align-content: center;
  gap: 8px;
}
.eventCard h3 {
  color: #000;
  font-size: 24px;
  text-align: center;
}
.eventCard span{
  font-size: 16px;
  text-align: center;
}
.registro{
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}
.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: var(--tooltip);
  color: var(--primary-color);
  text-align: center;
  font-style: italic;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 105%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.3s;
}
.eventCard:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}
.tooltip::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-bottom: 1px solid var(--button-secondary-color);
  border-color: var(--tooltip) transparent transparent transparent;
}
